In [6]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 227kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617624 sha256=efb49fbb38903fb67fdefd254834afb225a8631e1266502bf3eb4e1ec8bf5c4a
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [1]:
import pandas as pd
import numpy as np

In [3]:
rating_dataframe=pd.read_csv("ratings.csv")

In [4]:
rating_dataframe.head()

   userId  movieId  rating     timestamp
0       1      110     1.0  1.425942e+09
1       1      147     4.5  1.425942e+09
2       1      858     5.0  1.425942e+09
3       1     1221     5.0  1.425942e+09
4       1     1246     5.0  1.425942e+09

In [7]:
from surprise import Reader, Dataset, SVD
reader = Reader()

In [8]:
data = Dataset.load_from_df(rating_dataframe[['userId', 'movieId', 'rating']], reader)

from surprise.model_selection import cross_validate



# Using SVD
svd = SVD()

# Running 10-fold cross-validation and then print results
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    1.8421  1.7815  1.8079  1.8161  nan     1.8521  1.7910  1.8170  1.7963  1.8187  nan     nan
MAE (testset)     1.5042  1.4591  1.4900  1.5019  nan     1.5206  1.4629  1.4963  1.4773  1.4941  nan     nan
Fit time          2.37    2.43    2.38    2.41    2.36    2.38    2.36    2.36    2.35    2.37    2.38    0.02
Test time         0.03    0.03    0.03    0.03    0.03    0.10    0.03    0.03    0.04    0.03    0.04    0.02

{'fit_time': (2.369961977005005,
  2.4300038814544678,
  2.3848423957824707,
  2.406852960586548,
  2.3593103885650635,
  2.383589267730713,
  2.356907367706299,
  2.3580546379089355,
  2.346392869949341,
  2.373934745788574),
 'test_mae': array([1.5041841 , 1.4590888 , 1.49000465, 1.5018596 ,        nan,
        1.52057661, 1.4629156 , 1.49627993, 1.47733085, 1.49407115]),
 'test_rmse': array([1.84212423, 1.78153659, 1.8078616 , 1.8160719 ,        nan,
        1.8520617 , 1.79095223, 1.81700293, 1.79633174, 1.81874555]),
 'test_time': (0.030875444412231445,
  0.03170418739318848,
  0.03083038330078125,
  0.031118392944335938,
  0.03340578079223633,
  0.09566831588745117,
  0.03241157531738281,
  0.030469655990600586,
  0.043431997299194336,
  0.030394554138183594)}

In [9]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [10]:
rating_dataframe[rating_dataframe['userId'] == 2]

    userId  movieId  rating    timestamp
27       2        5     3.0  867039249.0
28       2       25     3.0  867039168.0
29       2       32     2.0  867039166.0
30       2       58     3.0  867039325.0
31       2       64     4.0  867039612.0
32       2       79     4.0  867039325.0
33       2      141     3.0  867039168.0
34       2      260     4.0  867039249.0
35       2      339     5.0  867041296.0
36       2      377     4.0  867041121.0
37       2      605     4.0  867039973.0
38       2      628     4.0  867039325.0
39       2      648     4.0  867039167.0
40       2      762     3.0  867039325.0
41       2      780     3.0  867039165.0
42       2      786     1.0  867039249.0
43       2      788     1.0  867039288.0
44       2     1210     4.0  867039325.0
45       2     1233     4.0  867039820.0
46       2     1356     5.0  867039288.0
47       2     1475     3.0  867040824.0
48       2     1552     2.0  867040735.0

In [11]:
svd.predict(2, 1552, 3)

Prediction(uid=2, iid=1552, r_ui=3, est=5, details={'was_impossible': False})

In [ ]:
rating_dataframe.to_csv("SVDfile.csv")